name: Run test case

on: [push, pull_request]

jobs:
    run_test_case:
        runs-on: ubuntu-latest

        container:
            image: erlang:22.1

        steps:
        - uses: actions/checkout@v1
        - name: Compile
          run: |
            make

        - name: Test
          run: |
            make test

        - uses: actions/upload-artifact@v1
          if: always()
          with:
            name: logs
            path: log/ct
